<table>
  <%= form_for @search, :method => 'get'  do |f| %>
  <tr>
    <td><%= f.text_field :team, :placeholder => "Team Name" %></td>
    <%= f.hidden_field :price_min, :id => "price_min" %>
    <%= f.hidden_field :price_max, :id => "price_max" %>
    <td ><%= f.text_field :date_start, :class => 'datepicker', :placeholder => "Start Date"%></td>
    <td ><%= f.text_field :date_end, :class => 'datepicker', :placeholder => "End Date"%></td>
    <td ></td>
    <td id="show_price_min"><div class = "slider"></div><div id="amount" style="text-align: center; color: grey; margin-top: 2px;"></div></td>
  </tr>
    <tr><td><%= f.submit "Find Tickets", :class => 'btn btn-primary' %></td></tr>
  <% end %>
</table>