<%= form_for @team  do |f| %>
  <p>Team name </p>
  <%= f.text_field :name %>
  <p>Min Price </p>
  <%= text_field_tag :min_price %>
  <p>Max Price </p>
  <%= text_field_tag :max_price%>
  <%= f.submit %>
<% end %>