<% section = Section.find(@game_data[:best_ticket]['section_id'])%>
<% seat_view_url = section[:seat_view_url] %>

<div class ="seat_view_image" id="<%= @game[:id]%>_seat_view_button_photo" style="display: none; width: 300px; height: 168px; position: absolute; z-index: 1000">
	<%=image_tag(seat_view_url, :class => 'img', :style => 'height: 100%; width: 100%') %>	
	<div class="arrow-down">		
	</div>
</div>

<div class="flip-container" style="display:none">
	<div class="flipper">
		<div class="<%= check_overall_rating(@game_data[:overall_rating])[0] %> front">
			<div class ="ticket_header row-fluid" style="">
				<div class="flip_button_div span2">
					<a class="flip_button icon-info-sign card-icon" href="#" style="font-size: 240%;"></a>
				</div>	
				<div class = "span8" style="font-size: 200%; color: #666464; margin-top: 1%; text-align: center">
					<%= @game[:date].strftime("%-m-%-d-%Y") %>
				</div>
				<div class= "seat_view_div span2">
					<%= link_to "", '#', :class => "seat_view_button icon-eye-open card-icon", :id => "#{@game[:id]}_seat_view_button", :style => "font-size: 240%" unless seat_view_url == "f" %>
				</div>

			</div>
			<div class="opponent_logo row-fluid" style=" margin-top: 10%; text-align: center">
				<%= image_tag "team_logos/#{@game[:opponent].split(' ')[-1]}.png", :class => "img-rounded", :style=>"height: 120px; width: auto;" %>
			</div>
			<div class="middle">
				<div class="row-fluid span12" style="margin-top: 5%; margin-left: 2%; margin-bottom: 10%; text-align: center">
					<div class="span3 card-score">
						Game Score:
					</div>
					<div class="span3" style="font-size: 200%; font-weight: bold; margin-top: 8%; color: #666464">
						<%= @game_data[:game_rating] %>
					</div>
					<div class="span3 card-score">
						Seat Score:
					</div>
					<div class="span3" style="font-size: 200%; font-weight: bold; margin-top: 8%; color: #666464">
						<%= @game_data[:seat_rating] %>
					</div>

				</div>
				<div class="row-fluid">
					<div class="span12" style="text-align: center">
						<div class="span3 icon-arrow-left card-icon" style="font-size: 300%; height: 40px; overflow: hidden">
							<%= button_to "", tickets_next_path(:game => game[:id], :price_min => @price_min, :price_max => @price_max, :number => @number-2, :next => false), :remote => true, :controller => 'tickets', :class=>"previous_button span12" %>
						</div>
						<div class="<%= check_overall_rating(game_data[:overall_rating])[1] %> span6" style="font-size: 400%; text-align: center"> 
							<%= @game_data[:overall_rating] %>
						</div>
						<div class="span3 icon-arrow-right card-icon" style="font-size: 300%; height: 40px; overflow: hidden">
							<%= button_to "", tickets_next_path(:game => @game[:id], :price_min => @price_min, :price_max => @price_max, :number => @number, :next => true), :remote => true, :controller => 'tickets', :class=>"next_button span12" %>
						</div>
					</div>
				</div>
			</div>

			<table class="table table-condensed" style = "font-size: 100%; margin-bottom: 4%; width: 100%">
				<tr class="row">
					<td><%= section[:name].scan(/\d{1,3}/)[-1] %></td>
					<td><%= @game_data[:best_ticket]['row'] %></td>
					<td><%= @game_data[:best_ticket]['quantity']%></td>
					<td>$<%= @game_data[:best_ticket]['price']%></td>
				</tr>
				<tr class="row" style="text-align: center">
					<td>SEC</td>
					<td>ROW</td>
					<td>AVAIL</td>
					<td>PRICE</td>
				</tr>
			</table>
			<div class="row-fluid">
				<div class = "span12">
					<%= link_to "Purchase Ticket", @game_data[:best_ticket]['url'], :target => 'blank', :class => "btn btn-large btn-block btn-inverse" %>
				</div>
			</div>

		</div>
		<div class="<%= check_overall_rating(@game_data[:overall_rating])[0] %> back" style="margin-left: -1%;">
			<div class="flip_button_div row-fluid ticket_header">
				<div class="span1">
					<a class="flip_button icon-info-sign card-icon" href="#" style="font-size: 240%;"></a>
				</div>
				<div class = "span11" style="font-size: 200%; color: #666464; margin-top: 1%; text-align: center">
					Ticket Details 
				</div>
			</div>
			<div style="overflow-y: scroll; overflow-x: hidden; width: 100%; height: 83%">			
				<div class="span12">
					<% ticket_summary = ticket_summary(@game, section ) %>
					<table class="table" style="font-size: 14pt">
						<thead>
							<h2 style="font-size: 20pt; text-align: left">Game Stats:</h2>
						</thead>
						<tbody>
							<tr><%= ticket_summary[0] %></tr>
							<tr><%= ticket_summary[1] %></tr>
							<tr><%= ticket_summary[2] %></tr>
							<tr><%= ticket_summary[3] %></tr>
						</tbody>
					</table>
					<table class="table" style="font-size: 14pt">
						<thead>
							<h2 style="font-size: 20pt; text-align: left">Game Score: <%= @game_data[:game_rating] %></h2>
						</thead>
						<tbody>
							<tr><%= ticket_summary[4] %></tr>
							<tr><%= ticket_summary[5] %></tr>
							<tr><%= ticket_summary[6] %></tr>
							<tr><%= ticket_summary[7] %></tr>
						</tbody>
					</table>
					<table class="table" style="font-size: 14pt">
						<thead>
							<h2 style="font-size: 20pt; text-align: left">Seat Score: <%= @game_data[:seat_rating] %></h2
							</thead>
							<tbody>
								<tr><%= ticket_summary[8] %></tr>
								<tr><%= ticket_summary[9] %></tr>
								<tr><%= ticket_summary[10] %></tr>
								<tr><%= ticket_summary[11] %></tr>
							</tbody>
						</table>

						<h2 style="font-size: 20pt; text-align: left">Average Price Trend:</h2>
						<div id="average_price_time<%=@game[:id]%>" style="width: 100%; height: 250px;">
							<%= high_chart("average_price_time#{@game[:id]}", game_price_chart(@game[:id])) %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>