<h1><%= @team.name %> Tickets </h1>
<h4>Date Range: <%= @date_start %> until <%= @date_end %></h2>
<h4>Price Range: $<%= @price_min %> - $<%= @price_max %></h2>

<% @games.each do |game|  %>

<% best_ticket = game.best_ticket(@price_min, @price_max)%>

  <div class="game_tickets">
      <div class = top>
        <div class = "date">
         <%= game[:date] %>
        </div>
        <div class = "home_logo">
          <%= image_tag "#{game.team.name.gsub(" ", "_")}.png", :width => "120px", :height => "120px" %>
        </div>
        <div class = "opponent_logo">
          <%= image_tag "#{game[:opponent].gsub(" ", "_")}.png", :width => "120px", :height => "120px" %>
        </div>
         <div class="ticket_rating">
             <div><b>Average Ticket Price:</b> $<%= game[:average_price] %></div>
             <div><b>Game Rating:</b> <%= game[:relative_popularity] %></div>
             <div><b>Seat Rating:</b> <%= best_ticket[:ticket_rating] %></div>
             <div><b>Overall Rating:</b> <%= (best_ticket[:ticket_rating] * game[:popularity_multiplier]).to_i %></div>
         </div>
      </div>
      <div class = "middle">
        <table class="ticket_info">
          <tr class = "ticket_info_values">
            <td><%= best_ticket[:section]%></td>
            <td><%= best_ticket[:row]%></td>
            <td><%= best_ticket[:quantity]%></td>
            <td>$<%= best_ticket[:price]%></td>
          </tr>
          <tr class="ticket_info_desc">
            <td>SEC</td>
            <td>ROW</td>
            <td>AVAIL</td>
            <td>PRICE</td>
          </tr>
        </table>

      </div>
      <div class = "bottom">
         <%= link_to "Purchase Ticket", best_ticket[:url], :target => 'blank', :class => " purchase btn btn-large btn-block btn-primary" %>
      </div>
  </div>
<% end %>


