<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
<%=javascript_tag '$("#outer").css("background-image", "url(' + "'assets/backgrounds/#{@team[:name].split(" ")[-1]}_background.jpg'"')")' %>
<div class="row-fluid" style="margin-top: 1%; margin-left: 14%">
	<h1 class="span6 header_logo" style="font-size: 500%; margin-left: -12%; text-align: left; color: #FF4A56; background: transparent; text-shadow: 2px 2px black;">
		TICKETBRAINS<small style= "color: #9CB6CB" >beta</small>
	</h1>
	<div class="span6" style="margin-bottom: 2%; margin-left: 11%">
	<%= form_for Search.new, :controller => "searches", :method => 'get', :html => {:class => "form-search"} do |f|%>
		<%= f.text_field :team , :class => "search span10", :placeholder => "Enter Team Name", :style => "height: 31pt; margin-bottom: 30px; font-size: 30px; line-height: 36px"%>
		<%= f.submit "search", :class => "btn btn-inverse update_team_button", :style => "visibility:hidden" %>
	<% end %>
	</div>
</div>

<div class="inner span12">
	<div class="row-fluid span12">
		<div class="row-fluid" style="margin-bottom: 3%">
			<div class="span4 team_header" style="text-align: center">
			 	<%= image_tag "team_logos/#{@team[:name].split(' ')[-1]}.png", :class => "img-rounded", :style=>"height: 30%; width: auto;" %>
				<h1><%= @team[:name] %></h1>
			</div>
			<div class="span8">
				<div class = "span12" >
					<div class = "team_info span12">	
						<h1 class="span5">Visual Overview</h1>
						<div class="span4 offset3 legend">
							<div class="row-fluid">
								<div class = "span2 offset2">
									<div class="legend_red" style="color: red"></div>
								</div>
								<div class="span8"> Average Game Price</div>
							</div>
							<div class="row-fluid">
								<div class = "span2 offset2">
									<div class="legend_blue" style="color: blue"></div>
								</div>
								<div class="span8"> Game Score</div>
							</div>
						</div>
						<div id="team_info_partial" style="width: 99%">
							<%= render :partial => 'team_info', :locals => {:line => @line } %>
						</div>
					</div>			
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12 results_refine">
				<h1 class= "span4">Refine Your Search: </h1>
				<div class="span12" style="margin-left: 0px">
					    <%= form_for @search, :method => 'put', :remote => true, :html => {:class => "form-inline refine_search_form span12"} do |f| %>
					      	<%= f.hidden_field :price_min, :id => "price_min", :value => 100 %>
					      	<%= f.hidden_field :price_max, :id => "price_max", :value => 200 %>
							<%= f.hidden_field :team, :value => @team[:name] %>
					<div class="span2">
						<div class="span5">
					      <%= f.text_field :date_start, :class => 'input span12 datepicker', :placeholder => "Start Date", :style =>"margin-right: 10px;" %>
						</div>
						<div class="span5 offset1">
					      <%= f.text_field :date_end, :class => 'input span12 datepicker', :placeholder => "End Date"%>
						</div>
					</div>
					<div class="span8">
				      <label id="slider_div">
				        <div class = "slider"></div>
				        <div id="amount_min"></div>
				        <div id="amount_max"></div>
				      </label>
					</div>
					<div class="span1">
						<%= f.submit "Find Tickets", :class => 'btn btn-inverse' %>
						<% end %>
					</div>
				</div>
		</div>
	</div>

		<div class = "span12 results_tickets" style="margin-left: 0%%; ">
			<%= render :partial => 'update', :locals => {:team => @team, :total_tickets => @total_tickets, :date_start => @date_start, :date_end => @date_end, :price_min => @price_min, :price_max => @price_max, :games => @games, :number => @number} %>
		</div>

</div>
